# 고객 취향분석
## User Data 분석

# 데이터 불러오기

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.cluster import KMeans

In [23]:
data = pd.read_csv('data/2019-Oct_user.csv')
data.head()

,user_id,purchase_count,total_spent,avg_spent,max_spent,min_spent,first_purchase,last_purchase,duration,category_count
0,264649825,2,1240.04,620.02,687.90,552.14,2019-10-06 15:29:00+00:00,2019-10-06 20:36:11+00:00,0 days 05:07:11,0
1,303160429,1,340.59,340.59,340.59,340.59,2019-10-13 13:25:29+00:00,2019-10-13 13:25:29+00:00,0 days 00:00:00,1
2,340041246,4,915.52,228.88,339.70,174.78,2019-10-03 11:59:28+00:00,2019-10-14 14:45:39+00:00,11 days 02:46:11,1
3,371877401,1,29.89,29.89,29.89,29.89,2019-10-09 15:51:08+00:00,2019-10-09 15:51:08+00:00,0 days 00:00:00,0
4,384989212,1,41.44,41.44,41.44,41.44,2019-10-18 11:19:59+00:00,2019-10-18 11:19:59+00:00,0 days 00:00:00,1

In [25]:
data = data[['user_id', 'purchase_count']]

In [26]:
data

          user_id  purchase_count
0       264649825               2
1       303160429               1
2       340041246               4
3       371877401               1
4       384989212               1
...           ...             ...
347113  566270177               1
347114  566272569               2
347115  566274637               1
347116  566276996               1
347117  566278294               1

[347118 rows x 2 columns]